// @charset "UTF-8";

@import "vendors/reset";

@import "utils/reseter";
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/helpers";

@import "base";


// @import "layout/navigation";
// @import "layout/header";
// @import "layout/footer";

// @import "components/forms";
// @import "components/buttons";
// @import "components/slideshow";

// @import "pages/home";
// @import "pages/productfile";

@import "shame";




h2 {
    // @include font-family(secondary);
}




/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


body {
    @include font-family(primary);
    padding-top: 50px;
}
.main-page {
  padding: 20px 15px;
  margin-right: auto;
  margin-left: auto;
    .list-group-item {
        overflow: hidden;
        .glyphicon {
            float: left;
            font-size: 24pt;
            margin-right: 20px;
        }
        .list-group-item-heading,
        .list-group-item-text {
            padding-left: 55px;
        }
    }
}
