body, h1, p {
    /*font-family: 'Puritan', sans-serif;*/
    /*font-family: 'Mako', sans-serif;*/
    /*font-family: 'Overlock', cursive;*/
    font-family: 'Telex', sans-serif;
}

#layout-element {
    height: 100px;
    background-color: red;
}
